# 🔒 Segurança: nunca subir variáveis sensíveis
.env
+*.env         

# 🧠 Python: arquivos compilados e cache
__pycache__/
__doc/
*.py[cod]
*.pyo

# 📦 Pacotes Python (se usados)
*.egg-info/
dist/
build/


# 🧪 Testes temporários
*.log
*.bak
*.tmp
+logs/         

# 🔄 Arquivos do VS Code e outros IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 📂 Arquivos do sistema
.DS_Store
Thumbs.db

# 🔐 Sessões Flask
flask_session/

# 📝 Arquivos de documentação (se quiser ignorar)
*.md
+# *.md          

# diretorios que não podem ser sobescritos no VPS
/static/imge/imguser/