/* ========================================================================= */
/* CONTAINER GERAL */
/* ========================================================================= */
.Cl_ConfigContainer {
    margin: 0px auto;
    padding: 10px;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
margin: 0;
align-items: end;
}


/* ========================================================================= */
/* FILTROS */
/* ========================================================================= */
.Cl_Filtros {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px 12px;
    margin-bottom: 10px;
}

.Cl_labelfiltro {
    font-weight: bold;
    font-size: 14px;
}

.Cl_CamposFiltros {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.linha-filtros-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    align-items: end;
}

/* linha 2: dois campos + bloco de botões no canto direito */
.linha-filtros-2{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 14px;
    align-items: end;
}



/* ========================================================================= */
/* TABELA */
/* ========================================================================= */
.Cl_TabelaMenu table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 14px;
}

.Cl_TabelaMenu th, .Cl_TabelaMenu td {
    padding: 6px 6px;
    border: 1px solid #ddd;
    text-align: left;
}

.Cl_TabelaMenu th {
    background-color: #85C300;
    color: #fff;
    font-weight: bold;

}

.Cl_TabelaMenu td {
    padding: 0px 6px;
}

.Cl_TabelaMenu tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.Cl_TabelaMenu tbody tr:hover {
    background-color: #efffe0;
}


#content-area-Categoria table td:nth-child(1),
#content-area-Categoria table th:nth-child(1) {
    display: none;
}

#content-area-Categoria table td:nth-child(3),
#content-area-Categoria table th:nth-child(3) {
    width: 100px;
    text-align: center;
}


#content-area-Categoria table td:nth-child(4),
#content-area-Categoria table th:nth-child(4) {
    width: 100px;
    text-align: center;
}

#content-area-Categoria table td:nth-child(5),
#content-area-Categoria table th:nth-child(5) {
    width: 140px;
    text-align: center;
}

