/* ========================== CONTAINERS E TÍTULOS ========================== */
.Cl_ConfigContainer {
    margin: 10px auto;
    padding: 10px;
    max-width: 1400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo-container {
    margin: 0px auto;
    padding: 0px;
    max-width: 1200px;
    background-color: transparent;
    border-radius: 8px;
    text-align: right;
}

h2 {
    margin: 0;
    color: #000;
    text-align: right;
}

/* ========================== FILTROS ========================== */
.Cl_Filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}
.Cl_labelfiltro {
    font-weight: bold;
}
.Cl_CamposFiltros {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 160px;
    padding: 8px;
    font-size: 14px;
}

/* ========================== TABELAS ========================== */
.Cl_TabelaMenu table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 90%;
}
.Cl_TabelaMenu th,
.Cl_TabelaMenu td {
    padding: 6px;
    border: 1px solid #ddd;
    text-align: left;
}
.Cl_TabelaMenu th {
    background-color: #85C300;
    color: #fff;
    font-weight: bold;
}
.Cl_TabelaMenu tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.Cl_TabelaMenu tbody tr:hover {
    background-color: #efffe0;
}

#content-area-LivroDiario table td:nth-child(1),
#content-area-LivroDiario table th:nth-child(1) {
    display: none;
}

#content-area-LivroDiario table td:nth-child(5),
#content-area-LivroDiario table th:nth-child(5) {
    width: 80px;
    text-align: center;
}

#content-area-LivroDiario table td:nth-child(6),
#content-area-LivroDiario table th:nth-child(6) {
    width: 100px;
    text-align: center;
}


