<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Plano de Contas</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/global_style.css') }}">
  <link rel="stylesheet" href="{{ url_for('mod_hub.static', filename='style/Chub_plano_contas.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/lucide@0.257.0" defer></script>
  <script src="/static/script/global_utils.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // aplica a classe do seu tema nos SVGs gerados
      window.lucide?.createIcons({ attrs: { class: 'icon-tech' } });
    });
  </script>

</head>
<body>
  <main>
    <div class="container">
      <section class="filtro">
          <label for="tipoConta">Tipo de Conta:</label>
          <select id="tipoConta">
              <option value="Ativo" selected>Ativo</option>
              <option value="Passivo">Passivo</option>
              <option value="Resultado">Resultado</option>
          </select>
          <button id="btnBuscar">Buscar</button>
          <button id="btnCriarPlanoPadrao" style="display: none;">Criar Plano Padrão</button>
        </section>
      <section id="arvorePlanoContas" class="arvore"> </section>
    </div>
  </main>
</body>
</html>
