/* ========================== FONTES PERSONALIZADAS ========================== */
@font-face {
    font-family: 'Arboria';
    src: url('/static/fonts/Arboria/Arboria-Light.woff2') format('woff2'),
         url('/static/fonts/Arboria/Arboria-Light.woff') format('woff');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Arboria';
    src: url('/static/fonts/Arboria/Arboria-Book.woff2') format('woff2'),
         url('/static/fonts/Arboria/Arboria-Book.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Arboria';
    src: url('/static/fonts/Arboria/Arboria-Bold.woff2') format('woff2'),
         url('/static/fonts/Arboria/Arboria-Bold.woff') format('woff');
    font-weight: 700; /* Bold */
    font-style: normal;
}

/* ========================== CONFIGURAÇÕES GERAIS ========================== */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arboria', 'Segoe UI', sans-serif;
  background-image: url("../imge/telafundologin.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


  
/********************** CONTAINER PRINCIPAL ********************/
.container-login {
  display: flex;
  flex: 1;
  justify-content:flex-start;
  align-items: flex-start;
  padding: 5% 10%;
  flex-wrap: wrap;
}


  


/********************** CONTAINER LOGIN A ESQUERDA ********************/ 
.box-login {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  opacity: 1;
  box-sizing: border-box;

  width: 100%;
  max-width: 360px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.logo-rufino {
  width: 50%;
  max-width: 100%;
  margin-bottom: 0px;
}

.box-login h2 {
  font-size: 1.0rem;
  margin-bottom: 30px;
  color: #333333;
  text-align: center;
  text-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}


.box-login form {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: #dfd4d4 1px solid;
  border-radius: 18px;
  box-shadow: 0 6px 18px rgba(0, 500, 0, 0.2);
  gap: 15px;
}

.box-login label {
  font-size: 0.95rem;
  color: #444;
  margin-bottom: 4px;
}

.box-login input,
.box-login button {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.link-esqueci {
  text-align: right;
  margin-top: -8px;
}

.link-esqueci a {
  color: #85C300;
  font-size: 0.9rem;
  text-decoration: underline;
}

.area-botao-login {
  text-align: right;
  margin-top: 10px;
}

.box-login button {
  background-color: #85C300;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.box-login button:hover {
  background-color: #6ba000;
}

.link-cadastro {
  margin-bottom: auto;
  text-align: center;
}

.link-cadastro a {
  font-size: 0.9rem;
  color: #85C300;
  text-decoration: underline;
}



/************************************************************/ 
/******************* RODAPÉ ******************/
/************************************************************/ 
.rodape {
  background-color: #333333 !important;
  color: white !important;
  font-size: 13px;
  padding: 12px 20px;
  text-align: center;
}

.linha-rodape {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}

.linha-rodape span {
  white-space: nowrap;
}

.links-legais {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.link-rodape {
  color: #85C300;
  text-decoration: none;
}

.link-rodape:hover {
  color: #6FA700;
  text-decoration: underline;
}

.redes-sociais a img {
  width: 20px;
  margin: 0 5px;
  transition: transform 0.3s;
}

.redes-sociais a:hover img {
  transform: scale(1.1);
}


/* 🖥️ RESPONSIVO */
@media (max-width: 768px) {
  .container-topo {
    flex-direction: column;
    gap: 10px;
  }

  .form-contato {
    width: 100%;
  }
}





/************************************************************/ 
/********************** RECUPERAR SENHA ********************/ 
/************************************************************/ 
.tela-login,
.tela-redefinir {
  transition: opacity 0.3s ease;

}

.tela-redefinir {
  display: none;
  opacity: 0;
}

.tela-redefinir.ativa,
.tela-login.ativa {
  display: grid;
  opacity: 1;
}

.tela-login:not(.ativa),
.tela-redefinir:not(.ativa) {
  display: none;
  opacity: 0;
}




#aviso-cookies {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  max-width: 50%;
  padding: 15px;
  background-color: #FFFCFB;
  border: 1px solid #85C300;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 9999;
  font-size: 14px;
  color: #333333;
  border-radius: 8px;
}

#aviso-cookies button {
  margin-top: 10px;
  background-color: #85C300;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

#aviso-cookies button:hover {
  background-color: #6FA700;
}
