/* ========================== FONTES PERSONALIZADAS ========================== */
@font-face {
    font-family: 'Arboria';
    src: url('/static/fonts/Arboria/Arboria-Light.woff2') format('woff2'),
         url('/static/fonts/Arboria/Arboria-Light.woff') format('woff');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Arboria';
    src: url('/static/fonts/Arboria/Arboria-Book.woff2') format('woff2'),
         url('/static/fonts/Arboria/Arboria-Book.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Arboria';
    src: url('/static/fonts/Arboria/Arboria-Bold.woff2') format('woff2'),
         url('/static/fonts/Arboria/Arboria-Bold.woff') format('woff');
    font-weight: 700; /* Bold */
    font-style: normal;
}

/* ========================== CONFIGURAÇÕES GERAIS ========================== */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Arboria', 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  align-items: center;
}




.container-redefinir {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  padding: 30px;
  width: 400px;
}

.container-redefinir h2 {
  margin-top: 0;
  color: #333;
}

.grupo-input {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 14px;
}

button {
  width: 95%;
  padding: 12px;
  background-color: #85C300;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #6fa700;
}
