<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Painel de Configurações</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/Cconfiguracoes.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="Cl_configContainer">
        <div class="Cl_titulo">
            <h2>Painel de Configurações</h2>
        </div>
        <!-- Painel de Cards -->
        <div id="config-container">
            <!-- Geração dinâmica via JS -->
        </div>
    
        <!-- Painel de Detalhe -->
        <div id="painel-detalhe" style="display: none; margin: 40px;"></div>
    </div>
    <script src="{{ url_for('static', filename='script/Sconfiguracoes.js') }}"></script>
</body>
</html>
