<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login | Rufino</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/Clogin.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/Caviso_cookie.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='imge/logorufino.png') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imge/favicon.png') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div id="aviso-cookies">
  <p>
    Oi! Nós usamos cookies para oferecer uma navegação melhor, lembrar suas preferências e entender como você usa nosso site.
    Fique tranquilo, tudo é feito com responsabilidade e segurança. Ao continuar, você concorda com nossa 
    <a href="/privacidade">Política de Privacidade</a>.
  </p>
  <button onclick="aceitarCookies()">Tudo bem, entendi</button>
</div>


<div class="container-login novo-layout-login">

  <!-- AGORA À ESQUERDA -->
  <div class="box-login">
      <img src="{{ url_for('static', filename='imge/logorufino.png') }}" alt="Logo Rufino" class="logo-rufino">

      <div id="formLogin" class="tela-login ativa">
        <h2>"Seja bem-vindo!"</h2>
        <form onsubmit="return false;">
          <input id="email" type="text" placeholder="Digite seu e-mail" required>
          <input id="senha" type="password" placeholder="Digite sua senha" required>

          <div class="link-esqueci">
            <a href="#" id="linkEsqueciSenha">Esqueci minha senha</a>
          </div>

          <div class="area-botao-login">
            <button id="btnLogin" type="button">Entrar</button>
          </div>
        </form>
        <div class="link-cadastro">
          <p>Não tem uma conta? <a href="#" id="linkCadastro">Cadastrar-se</a></p>
        </div>
      </div>

      <div id="formRecuperarSenha" class="tela-redefinir">
        <h2>Recuperar Acesso</h2>
        <p style="font-size: 0.9rem; color: #555; margin-bottom: 10px;">
          Informe seu e-mail e enviaremos um link para redefinir sua senha.
        </p>
        <input id="recEmail" type="email" placeholder="Digite seu e-mail" required>
        <div class="area-botao-login">
          <button id="btnEnviarToken" type="button">Enviar link de recuperação</button>
        </div>
        <div class="area-botao-login">
          <button id="btnVoltarLogin" type="button">Voltar</button>
        </div>
      </div>
  </div>

</div>



<footer class="rodape">
  <div class="linha-rodape linha1">
    <span>Rufino Tech · CNPJ 51.594.053/00001-19</span>
    <span>Atualizado em: 19/06/2025</span>
  </div>

  <div class="linha-rodape linha2">
    <span>© 2025 Tech Plataforma de Gestão.</span>
    <div class="links-legais">
      <a href="/privacidade" class="link-rodape">Política de Privacidade</a> |
      <a href="/termouso" class="link-rodape">Termos de Uso</a> |
      <a href="mailto:dpo@rufino.tech" class="link-rodape" onclick="return abrirEmail();">DPO</a>
    </div>
    
  </div>
</footer>


  <script src="{{ url_for('static', filename='script/Slogin.js') }}"></script>
  <script src="{{ url_for('static', filename='script/Saviso_cookie.js') }}"></script>
</body>
</html>
